@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html { scroll-behavior: smooth; }

.truncate-multiline-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.25rem;
}

.section-space {
  padding-top: 70px;
  padding-bottom: 70px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .section-space {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.font-chartered {
  font-family: "Gentium Book Basic", Georgia, "Times New Roman", serif;
}

.pl-mobile-safe {
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 768px) {
  .pl-mobile-safe {
    padding-left: 0;
    padding-right: 0;
  }
}
