@tailwind base;
@tailwind components;
@tailwind utilities;

html { scroll-behavior: smooth; }

html {
  scroll-behavior: smooth;
}


.truncate-multiline-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.truncate-multiline-2 { line-height: 1.25rem; } 
